$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	z-index: 7;
	font-weight: 300;
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	margin-top: 20px; 
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; height: 25px; background-size: 186px 50px; z-index: 10; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

@media screen and (max-width: 600px) {
	.copyright { text-align: center; }
	#jac { position: static; display: block; right:0; margin: 20px auto 0;}
}

.footer-blocks {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
	font-size: 13px;
}

.footer-block {
	padding: 20px 0;
	&:first-child { padding-left:0; }
	&:last-child { padding-right:0; }
}

.footer-contact-block {
	@include flex( 1 1 600px );
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
	@include align-items( center );
	
	h5 { @include flex( 0 0 100% ); }
	
	.button { margin: 10px 0;}
	
}

.footer-links-block {
	.button { margin: 10px 0; }
}

.footer-nav-block {
	
	padding: 20px;
	margin: 0 20px;
	
	@include display( flex );

	position: relative;
	&:before,
	&:after {
		content:"";
		position: absolute;
		right:0; top: 20px; bottom: 20px;
		border-left: 1px solid #92be9e;
	}
	
	&:before {
		left:0; right: auto;
	}

	@include flex( 0 1 auto );

	ul {
		margin: auto;
		@include display( flex );
		@include flex-flow( row wrap );
		width: 250px;
	}
	
	li {
		@include flex( 0 0 50% );
	}
	
	a {
		display: inline-block;
		padding: 3px 0;
		font-size: 13px;
	}
}

.footer-block li a:hover { color: rgba(#fff,0.4); }

@media screen and (max-width: 650px) {
	.footer-blocks {
		@include justify-content( center );
	}
	
	.footer-nav-block {
		&:before,
		&:after { display: none; }
	}
	
	.footer-nav-block,
	.footer-links-block {
		text-align:center;
	}
}