/* hero */
.hero {
	
	border: 1px solid transparent;
	
	.home & { background: #000; }
	
	.hero-bg-link {
		position: absolute;
		z-index: 1;
		top:0; left:0; right:0; bottom:0;
	}
	
	.big-fader {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
	}
	
	.slick-list { height: 100%; }
	
	.local-header,
	.slick-list {
		padding-top: $navHeight+$navTopHeight;
		
		@media screen and (max-width: $smallNavAtWidth) {
			& { padding-top: $smallNavHeight+$navTopHeight; }
		}
		
		@media screen and (max-width: $collapseNavAt) {
			& { padding-top: 46px; }
		}
		
	}
	
	.fader-item,
	.slick-track {
		height: 100%;
	}
	
	.fader-item {
		position: relative;
		background-color: #000;
	}
}
	
.hero-caption {
	padding: 25px 0;
	color: #fff;
	@include linear-gradient( to bottom, rgba(#6d6d6d,0.8), rgba(#000,0.8) );
	background-color: transparent;
	position: absolute; left:0; right:0; bottom:0;
	z-index: 2;
	
	.sw {
		@include display( flex );
		@include align-items( center );
		@include justify-content( space-between );
		padding-right: 120px;
		
	}
		
	
	.title {
		font-weight: 700;
		display: block;
		font-size:24px;
	}
	
	.subtitle {
		display:block;
		font-size:20px;
	}
	
	.button:hover {
		color: #000;
	}
	
}

.hero {
	.fader-control-wrap {
		position: absolute;
		bottom:0; left:0; right:0;
		margin: 0 auto;
		text-align:center;
	}
	
	.fader-controls {
		position:absolute;
		right:0; bottom:30px;
		
		&:after { border-color: #fff; }
		
		button {
			border-color:#fff;
			color:#fff;
			
			&:hover {
				background: #fff;
				color: #000;
			}
			
		}
		
	}
}

@media screen and (max-width: 750px) {

	.hero-caption .sw { 
		padding:0; 
		display:block;
	}
	
	.hero .fader-controls { display: none; }
	
}

@media screen and (max-width: 500px) {
	.hero-caption {
		padding: 10px 0;
		text-align:center;
		
		.subtitle { display: none; }
		
	}
	
	.hero .big-fader {
		min-height: 300px;
	}
}